<div class="sidebar">
    <img src="images/task_logo.png" alt="">

    <nav>
        <a routerLink="/home" routerLinkActive="active-link"><i class="pi pi-home" style="font-size: 1rem;"></i> Página Inicial</a>
        <a routerLink="/tasks-details" routerLinkActive="active-link"><i class="pi pi-clipboard" style="font-size: 1rem;"></i> Detalhamento de Tarefas</a>
        <a routerLink="/tasks" routerLinkActive="active-link"><i class="pi pi-file-edit" style="font-size: 1rem;"></i> Gerenciar Tarefas</a>
    </nav>

</div>